main .columns {
    font-size: 16px;
}

main .columns > div {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

main .columns > div:nth-child(odd) {
    display: flex;
    flex-direction: column-reverse;
}

main .columns h2 {
    font-size: 28px;
    font-weight: 500;
}

main .columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 50vh;
}

@media (min-width: 900px) {
    main .columns-container {
        padding: 0;
    }

    main .columns-container > div {
        max-width: unset;
    }

    main .columns .content-wrapper {
        display: flex;
        align-items: center;
    }
    
    main .columns > div, main .columns > div:nth-child(odd) .content-wrapper {
        justify-content: flex-end;
    }
    
    main .columns .content {
        max-width: 420px;
        margin: 20px;
    } 

    main .columns > div, main .columns > div:nth-child(odd) {
        flex-direction: unset;
    }

    main .columns > div > div {
        width: 50%;
    }

    main .columns img {
        width: 100%;
        height: 400px;
        min-height: unset;
    }
}