main .article-feed .article-card {
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

main .article-feed .article-card > * {
    flex: 1;
}

main .article-feed .article-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding-right: 1rem;
    box-sizing: border-box;
}

main .article-feed .article-card h2 {
    font-size: 18px;
    margin: 0;
}