main .images-grid .row {
  position: relative;

}
main .images-grid picture.bg-picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;    
}

main .images-grid .bg-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}