main .brands {
    display: flex;
    flex-wrap: wrap;
}

main .brands .brands-card {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 8px;
    box-sizing: border-box;
}

main .brands img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s;
}

main .brands-card:hover img {
    transform: scale(1.1);
}

main .brands h3 {
    font-size: 20px;
}

main .brands p {
    font-size: 16px;
}

main .brands a:any-link {
    color: black;
    text-decoration: none;
}

@media (min-width: 600px) {
    main .brands .brands-card {
        max-width: 50%;
    }    
}

@media (min-width: 900px) {
    main .brands .brands-card {
        max-width: 33%;
    }    
}