main .hero-section {
    padding: 0;
    position: relative;
}

main .hero-section > div {
    height: 350px;
    display: flex;
    align-items: center;
}


main .hero-section .animation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    --animation-height: 350px;
}

main .hero-section h1 {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 0 0 7px #00000080;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 2.125rem;
    text-align: center;
    box-sizing: border-box;
}



main .section > div.animation-wrapper {
    max-width: 100%;
    padding: 0;
}

main .animation {
    --animation-height: 642px;
}

main .animation > div {
    position: relative;
    height: var(--animation-height);
}

main .animation > div > * {
    position: absolute;
    top: 0;
    left: 0;
}

main .animation > div > *, main .animation img {
    height: var(--animation-height);
    object-fit: cover;
    width: 100%;
}

main .animation video {
    display: none;
}

main .animation video.animation-unhide {
    display: block;
}

@media (min-width: 600px) {
    main .hero-section h1 {
        font-size: 2.75rem;
        line-height: 3.125rem;    
    }
}

@media (min-width: 900px) {
    main .hero-section h1 {
        font-size: 3.625rem;
        line-height: 4rem;    
    }
}