/* below the fold CSS goes here */

/* VARIABLES */
@font-face {
    font-family: 'TCCC-UnityCondensed';
    src: url('/styles/TCCC-UnityCondensed-Medium.eot?') format('eot'), url('/styles/TCCC-UnityCondensed-Medium.woff2') format('woff2'), url('/styles/TCCC-UnityCondensed-Medium.woff') format('woff'), url('/styles/TCCC-UnityCondensed-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityCondensed-Bold';
    src: url('/styles/TCCC-UnityCondensed-Bold.eot?') format('eot'), url('/styles/TCCC-UnityCondensed-Bold.woff2') format('woff2'), url('/styles/TCCC-UnityCondensed-Bold.woff') format('woff'), url('/styles/TCCC-UnityCondensed-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityCondensed-Medium';
    src: url('/styles/TCCC-UnityCondensed-Medium.eot?') format('eot'), url('/styles/TCCC-UnityCondensed-Medium.woff2') format('woff2'), url('/styles/TCCC-UnityCondensed-Medium.woff') format('woff'), url('/styles/TCCC-UnityCondensed-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityHeadline';
    src: url('/styles/TCCC-UnityHeadline-Regular.eot?') format('eot'), url('/styles/TCCC-UnityHeadline-Regular.woff2') format('woff2'), url('/styles/TCCC-UnityHeadline-Regular.woff') format('woff'), url('/styles/TCCC-UnityHeadline-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityHeadline-Black';
    src: url('/styles/TCCC-UnityHeadline-Black.eot?') format('eot'), url('/styles/TCCC-UnityHeadline-Black.woff2') format('woff2'), url('/styles/TCCC-UnityHeadline-Black.woff') format('woff'), url('/styles/TCCC-UnityHeadline-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityHeadline-Bold';
    src: url('/styles/TCCC-UnityHeadline-Bold.eot?') format('eot'), url('/styles/TCCC-UnityHeadline-Bold.woff2') format('woff2'), url('/styles/TCCC-UnityHeadline-Bold.woff') format('woff'), url('/styles/TCCC-UnityHeadline-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityHeadline-Light';
    src: url('/styles/TCCC-UnityHeadline-Light.eot?') format('eot'), url('/styles/TCCC-UnityHeadline-Light.woff2') format('woff2'), url('/styles/TCCC-UnityHeadline-Light.woff') format('woff'), url('/styles/TCCC-UnityHeadline-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityHeadline-Medium';
    src: url('/styles/TCCC-UnityHeadline-Medium.eot?') format('eot'), url('/styles/TCCC-UnityHeadline-Medium.woff2') format('woff2'), url('/styles/TCCC-UnityHeadline-Medium.woff') format('woff'), url('/styles/TCCC-UnityHeadline-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityHeadline-Regular';
    src: url('/styles/TCCC-UnityHeadline-Regular.eot?') format('eot'), url('/styles/TCCC-UnityHeadline-Regular.woff2') format('woff2'), url('/styles/TCCC-UnityHeadline-Regular.woff') format('woff'), url('/styles/TCCC-UnityHeadline-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityText';
    src: url('/styles/TCCC-UnityText-Regular.eot?') format('eot'), url('/styles/TCCC-UnityText-Regular.woff2') format('woff2'), url('/styles/TCCC-UnityText-Regular.woff') format('woff'), url('/styles/TCCC-UnityText-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityText-Black';
    src: url('/styles/TCCC-UnityText-Black.eot?') format('eot'), url('/styles/TCCC-UnityText-Black.woff2') format('woff2'), url('/styles/TCCC-UnityText-Black.woff') format('woff'), url('/styles/TCCC-UnityText-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityText-Bold';
    src: url('/styles/TCCC-UnityText-Bold.eot?') format('eot'), url('/styles/TCCC-UnityText-Bold.woff2') format('woff2'), url('/styles/TCCC-UnityText-Bold.woff') format('woff'), url('/styles/TCCC-UnityText-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityText-Light';
    src: url('/styles/TCCC-UnityText-Light.eot?') format('eot'), url('/styles/TCCC-UnityText-Light.woff2') format('woff2'), url('/styles/TCCC-UnityText-Light.woff') format('woff'), url('/styles/TCCC-UnityText-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityText-Medium';
    src: url('/styles/TCCC-UnityText-Medium.eot?') format('eot'), url('/styles/TCCC-UnityText-Medium.woff2') format('woff2'), url('/styles/TCCC-UnityText-Medium.woff') format('woff'), url('/styles/TCCC-UnityText-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'TCCC-UnityText-Regular';
    src: url('/styles/TCCC-UnityText-Regular.eot?') format('eot'), url('/styles/TCCC-UnityText-Regular.woff2') format('woff2'), url('/styles/TCCC-UnityText-Regular.woff') format('woff'), url('/styles/TCCC-UnityText-Regular.ttf') format('truetype');
  }